.card {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  position: relative;
  color: rgba(0, 0, 0, 0.8);

  &.ok {
    background-color: #b2f35f;
    box-shadow:
      0 0 5px #b2f35f,
      0 0 10px #b2f35f,
      0 0 20px #8fdc3f,
      0 0 40px rgba(178, 243, 95, 0.5);
  }
  &.error {
    background-color: #f46f51;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,
        transparent 75%,
        transparent
      );
      background-size: 20px 20px;
      pointer-events: none;
    }
  }
  &.warn {
    background-color: #e5f900;
  }
}

.name {
  font-size: 20px;
  font-weight: 900;
}
.status {
  font-size: 16px;
  font-weight: 400;
}
