.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 400px;
}

.header {
  font-size: 40px;
  margin-bottom: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 50px;
}

.infoTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 20px;
}

.infoRow {
  display: flex;
  justify-content: space-between;
}

.copyright {
  margin-top: auto;
  margin-bottom: 10px;
}
